@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400");
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  --primari: #161b33;
  --secundary: #131524;
  --terciary: #0d0c1d;
  --letras: #a69cac;
  --m: 4rem;

  --red: #ff6565;
  --pink: #ff64f9;
  --purple: #6b5fff;
  --blue: #4d8aff;
  --green: #5bff89;
  --yellow: #ffee55;
  --orange: #ff6d1b;
}

/*  SCROLLBAR  */

::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Alto de la barra de desplazamiento horizontal */
}
::-webkit-scrollbar-track {
  background: var(--terciary); /* Color de fondo del track */
}
::-webkit-scrollbar-thumb {
  background-color: var(--secundary); /* Color del thumb */
  border-radius: 15px; /* Bordes redondeados */
  border: 1px solid #f0fbff; /* Espacio alrededor del thumb */
}
/*FIN SCROLLBAR*/

/*body*/
#body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: var(--secundary);
  align-items: center;
}
/*fin body*/

/*  HEADER  */

/* FIN HEADER  */

/*  MAIN*/

#main {
  background-color: var(--secundary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desabilitar {
  display: none;
}
#carousel {
  width: 100%;
  /* margin: 42px 0 0 0;  */
}

#setup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 20px 5px;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#setup .setup-text {
  /* font-size: 48px; */
  /* font-weight: 800; */
  width: 100%;
  flex: 1;
}

#setup .setup-text h1 {
  /* margin: 0; */
  /* padding: 0; */
  font-size: 2rem;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  font-weight: 800;
  margin-bottom: 10px;
}

/*animacion al h1*/

#setup .setup-text h1 {
  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

@keyframes blink {
  to {
    background-color: transparent;
    opacity: 0;
  }
}

@keyframes typeWriter {
  to {
    left: 100%;
  }
}

#setup .setup-text h1 span {
  position: relative;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  --webkit-background-clip: text;
}

#setup .setup-text h1 span::before,
#setup .setup-text h1 span::after {
  content: "";
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#setup .setup-text h1 span::before {
  background: var(--secundary);
  /* background-color: red; */
  animation: typeWriter 1.2s 0s steps(11) forwards;
}

#setup .setup-text h1 span::after {
  width: 1.6px;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  animation: typeWriter 1.2s 0s steps(11) forwards,
    blink 0.8s steps(11) infinite;
}

#setup .setup-IMG {
  width: 100%;
  display: flex;
  gap: 8px;
  transition: transform 1s ease, box-shadow 1s ease;
}
.IMG1 {
  width: 50%;
  height: 80px;
}

.IMG2 {
  width: 50%;
  height: 80px;
}

#setup .setup-IMG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#setup .setup-IMG img:hover {
  transform: scale(0.1);
  transform: translate(0, 1px);
  box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5),
    -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

#destacados {
  width: 100%;
  height: 100%;
}

#destacados h2 {
  /* color: var(--letras); */
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
  position: relative;
  /* border-color: 2px solid linear-gradient(to top right, #B066FE, #63E2FF); */
}

#destacados .search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

#destacados .search form {
  width: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 9px;
  border: 1px solid var(--primari);
}

#destacados .search input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

::placeholder {
  color: var(--terciary);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 3px;
}

#destacados .search button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#destacados .search i {
  color: var(--primari);
  font-size: 1.6rem;
  margin: 0 10px 0 10px;
  font-weight: 700;
  /* background-color: red; */
}

#destacados .categoriasProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 30px 10px 30px;
}

#destacados .categoriasProductos .categorias {
  background: var(--primari);
  color: var(--letras);
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
}

#destacados .categoriasProductos .categorias:hover {
  background: var(--terciary);
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
}
#destacados .card {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  padding: 5px;
  flex-direction: column;
  max-height: 270px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.3s ease;
  -webkit-box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
  box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
  background-color: rgba(255, 255, 255, 0.165);
}
#destacados .card .container-IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 17px;
}
#destacados .card img {
  width: 180px;
  height: 150px;
  /* object-fit: cover; */
  border-radius: 17px;
}

.card:hover {
  transform: scale(1.06);
  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.card .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  /* justify-content: space-between; */
  gap: 5px;
}

.card .card-body h5 {
  font-size: 12px;
  font-weight: 690;
  color: var(--letras);
  white-space: normal;
  /* flex: 1; */
}

.card .card-body p {
  font-size: 1.5rem;
  color: #121212;
  font-weight: 900;
}

.card .card-body h5,
.card .card-body p {
  margin: 0;
  padding: 0;
}
.card-body .btn {
  text-decoration: none;
  color: white;
  width: 100%;
  font-weight: 800;
  background-color: var(--primari);
  border-radius: 10px;
  border: 1px solid var(--primari);
}

.card .btn:hover {
  background-color: #0d0c1dab;
  border: 1px solid var(--primari);
}

#destacados .container-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 44px 0 10px 0;
}
#destacados .verMas {
  max-width: 140px;
  border: 2px solid transparent;
  color: #f3f3f3;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      var(--orange),
      var(--yellow),
      var(--green),
      var(--blue),
      var(--purple),
      var(--pink),
      var(--red)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;

  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

#img_asus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#img_asus img {
  width: 418px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

#opinion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#opinion .carousel-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#opinion .active {
  background-color: var(--secundary);
}

#opinion .carousel h2 {
  /* color: var(--letras); */
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
  position: relative;
  margin: 0 50px 20px 50px;
}

#opinion .carrouselCard {
  background: #fff;
  width: 300px;
  height: 100%;
  min-height: 280px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* gap: 12px; */
  margin: 10px;
  position: relative;
  border: 2px solid rgba(0, 0, 255, 0.493);
}

#opinion .carrouselCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  animation: slide 2s infinite alternate;
}

#opinion .conteiner_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#opinion .conteiner_img #img_keanu {
  width: 70px;
  height: 70px;
}
#opinion .conteiner_img img {
  width: 90px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#opinion .iconoestrella {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#opinion .iconoestrella i {
  color: rgb(150, 6, 133);
  font-size: 2.3rem;
}

#opinion .textoOpinion {
  margin: 7px 20px;
}

#opinion .textoOpinion p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
  color: var(--terciary);
}

/*nosotros*/

#nosotros {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nosotros h2 {
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
  position: relative;
}

#nosotros .contenedor_nosotros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 50px;
}

#nosotros .nosotros-card {
  width: 160px;
  min-height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  border: 2px solid rgba(0, 0, 255, 0.493);
}
.nosotros-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-img img {
  width: 100px;
  height: 100px;
  align-items: flex-start;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #131415;
}

.nosotros-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

.nosotros-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--terciary);
}

.nosotros-text p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--terciary);
}

#contactanos {
  width: 100%;
}

#contactanos h3 {
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
}

#contactanos label {
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
}

#contactanos .form-control,
#contactanos textarea {
  font-size: 1.2rem;
  padding: 1rem;
}

#contactanos iframe {
  height: 400px;
}

#contactanos .btn {
  background-color: var(--letras);
  color: whitesmoke;
  border-radius: 10px;
  padding: 9px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid var(--btn-bg);
}

#contactanos .btn:hover {
  cursor: pointer;
  background-color: var(--orange);
  transition: all 0.3s ease-in-out;
  font-weight: 800;
}

/*  FIN MAIN*/

/*FOOTER*/

.footer {
  width: 100%;
  background: linear-gradient(to right, #1a1a1a, #333);
  border-radius: 26px 26px 0 0;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(150, 6, 133);
}

.footer a {
  color: rgb(252, 102, 234);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer a:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.footer-links {
  margin: 20px 0;
}

#footer .footer-links .anc-footer {
  margin: 10px 0;
}

#footer .footer-links .anc-footer a {
  font-size: 1.1rem;
}

.footer-copyright {
  font-size: 0.9rem;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

/*FIN FOOTER*/

/*MEDIAQUERIES*/

@media (min-width: 768px) {
  #destacados {
    max-width: 630px;
  }
  #setup .IMG1 {
    height: 160px;
  }
  #setup .IMG2 {
    height: 160px;
  }
  #img_asus img {
    width: 719px;
    height: 125px;
  }

  #opinion .carousel-item {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #destacados {
    max-width: 990px;
  }
  #destacados .card img {
    width: 170px;
  }

  #setup .setup-IMG {
    gap: 10px;
  }

  #setup .IMG1 {
    display: flex;
    justify-content: flex-end;
  }
  #setup .IMG2 {
    display: flex;
    justify-content: flex-start;
  }

  #setup .setup-IMG img {
    width: 480px;
    height: 160px;
  }

  #nosotros .nosotros-card {
    width: 200px;
    text-align: center;
  }
}
