/* Estilos Generales del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.conteinerLogo img{
    width: 100px;
    /* filter: drop-shadow(0 0 0.75rem #1E90FF); */
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0, .8));
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
    font-weight: 600;
}

.modal-content p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
    font-weight: 600;
}



.buttons {
    display: flex;
    justify-content: space-around;
    height: 34px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn.primary {
    background-color: #1E90FF;
    color: white;
}

.btn.primary:hover{
    background-color: #1e8fff63;
    color: white;
}


.btn.secondary {
    background-color: #ed6868;
    color: #ffffff;
}

.btn.secondary:hover{
    background-color: rgba(255, 0, 0, 0.397);
    color: white;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: flex-start;
}

.options label {
    display: block;
    margin-bottom: 10px;
}


.btnback{
    position: relative;
    top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #535353;
    height: 20px;
    color: white;
    height: 25px;
}

#acceptBtn{
    background-color: #008f39;
}

