.img-carousel {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
/* Efecto hover para restaurar el color */
.img-carousel:hover {
    filter: grayscale(0%);
}
/* Contenedor del carrusel en una sola fila */
.carousel-item .d-flex {
    display: flex;
    justify-content: space-around;
}
/* Estilo de cada imagen del carrusel */
.carousel-item-img {
    flex: 1 0 25%; /* Default: 4 imágenes por slide en pantallas grandes */
    margin: 0 5px; /* Espaciado entre las imágenes */

}

.corousel-item-img img{

}

@media (max-width: 992px) { /* Para tablets y dispositivos medianos */
    .carousel-item-img {
        flex: 1 0 33.33%; /* 3 imágenes por slide */
    }
}
@media (max-width: 576px) { /* Para móviles */
    .carousel-item-img {
        flex: 1 0 50%; /* 2 imágenes por slide */
    }
}


